<div class="row">
  <app-month [name]="'August'" class="offset-md-3 col-md-2"></app-month>
  <app-month [name]="'July'" class="col-md-2"></app-month>
  <app-month [name]="'June'" class="col-md-2"></app-month>
</div>

<div class="row">
  <app-month [name]="'September'" class="offset-md-1 col-md-2"></app-month>
  <app-month [name]="'May'" class="offset-md-6 col-md-2"></app-month>
</div>

<div class="row">
  <app-month [name]="'October'" class="offset-md-1 col-md-2"></app-month>
  <app-month [name]="'April'" class="offset-md-6 col-md-2"></app-month>
</div>

<div class="row">
  <app-month [name]="'November'" class="offset-md-1 col-md-2"></app-month>
  <app-month [name]="'March'" class="offset-md-6 col-md-2"></app-month>
</div>

<div class="row">
  <app-month [name]="'December'" class="offset-md-3 col-md-2"></app-month>
  <app-month [name]="'January'" class="col-md-2"></app-month>
  <app-month [name]="'February'" class="col-md-2"></app-month>
</div>
